.tx-history {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 0.1em solid black;
  padding: 1em;
  width: 55%;

  > label {
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 1.2em;
  }
}

.disable {
  color: gray;
  opacity: 0.8;
}
