th,
td {
  border-bottom: 0.1em solid #c3c3c3;
}

.hd0 {
  text-align: start;
}

.ext-link {
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.zoom-bottom {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  margin-top: 1em;
  position: absolute;
  bottom: 1em;
  zoom: 0.8;
}
